
//Fuentes//
$text: "Rubik", sans-serif;

//Colores//
$menu-text:#4a4a4a; /*(Texto del menú)*/
$main-background: #3CDBC0; /*(Color de fondo de la página)*/
$main-text:#FFFFFF; /*(Color de texto de "Creando diversidad digital")*/
