
.main{
    width: 100%;
    height: 100vh;
    background-color:$main-background;
    display:flex;
    align-items: center;
    justify-content: center;
}

.title{
    color:$main-text;
    font-size: 30px;
}

.text{
    display: block;
    text-transform: capitalize;
    text-align: center;
}
