
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik"; sans-serif;

}

/*HEADER*/

.header{
    position: fixed;
    top: 0;
    background-color:white;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px, 0, 3px, 0;

}

.logo-container {
    width: 155px;

    
}
.logo {
    width: 155px;
    padding-top: 10px;

}

.nav-container {
    width: 155px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;

}

.nav-elements {
    list-style-type: none;
    margin-bottom: 13px;

}

.links{
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
    padding:10px;
    text-transform: uppercase;
}




/*MAIN*/

.main{
    width: 100%;
    height: 100vh;
    background-color:#3CDBC0 ;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    color: #FFFFFF;
    font-size: 30px;
    display: block;
    text-transform: capitalize;

}

/*.text-1{
    display: block;

}

.text-2{
    display:block;

}

.text-3{
    display: block;

}*/

/*MEDIAS*/
@media all and(min-width 768px) {

    .header {
        flex-direction: row;

    }

    .logo-container {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .text {
        font-size: 40px;
    }


}

  